<!DOCTYPE html>
<html>
<head>
	<title>about maintainence</title>
</head>
<body>
	<h1>will be back maintance is going on</h1>
		<h1>{{companyName}}</h1>
		<p>{{year}}</p>
		{{> footer}}
</body>
</html> 


{
	name: "naman paloiwal"
}